<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <section class="p-[50px]">
      <div class="container">
        <div class="flex flex-row xl:flex-wrap gap-7 justify-center"  >
          <div class="flex border w-[320px] h-[420px] xl:justify-center bg-[#2f2f2f]">
            <div class="flex flex-col p-5 w-72 justify-center text-3xl text-[white] ">
              <ul>
                <li>Категории
                  <ul>
                    <li><a class="menu_a" href="">Все</a> </li>
                    <li></li><a class="menu_a" href="">Кофе</a></li>
                    <li><a class="menu_a" href="">Чай</a></li>
                    <li><a class="menu_a" href="">Десерты</a></li>
                  </ul>  
                </li>
                <li>
                  Цена
                </li>
              </ul>
              
            </div>  
          </div>
          <div class="">
            <div class="w-full flex justify-end ml-[-1rem]">
              <select name="pets" id="pet-select">
                  <option value="">По умолчанию</option>
                  <option value="up_price">По цене, по возрастанию</option>
                  <option value="bottom_price">По цене, прубыванию</option>
                  <option value="up_abc">По алфавиту, по возрастанию</option>
                  <option value="bottom_abc">По алфавиту, по убыванию</option>
              </select>
            </div>
            <div class="flex flex-wrap justify-center">

              <div id="coffee" class=" mx-4 h-[auto] product my-2" > 
                <div
                class="mx-auto w-80  product-border">
                  <img
                  class="h-[auto] w-full object-cover object-center rounded-t-[20px] p-1"
                  src="/resource/images/slides/coffe.jpg"
                  alt="Product Image"
                  />
                  <div class="h-[100px]  flex flex-col justify-center text-center ">
                    <p class="text-2xl">Американо</p>
                    <p class="text-lg">200₽</p>
                  </div>
                </div>
                <div class="product-content mx-auto">
                  <div class="flex items-center justify-center h-full flex-col">
                    <div class="mt-[100px]">
                      <button class="product-button text-white">В корзину</button>
                    </div>
                    
                    <div class=" mt-5">
                      <button class="product-button">
                        <p class="product-button-ml">200мл</p>
                        <p class="product-button-rub">150₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">300мл</p>
                        <p class="product-button-rub">200₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">400мл</p>
                        <p class="product-button-rub">250₽</p>
                      </button>
                    </div>
                    <div class=" mt-5">
                      <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Шоколад"><label for="checkboxOne">Шоколад<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Фисташка"><label for="checkboxTwo">Фисташка<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxFree" value="Карамель"><label for="checkboxFree">Карамель<p>50₽</label></li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div id="coffee" class=" mx-4 h-[auto] product my-2" > 
                <div
                class="mx-auto w-80  product-border">
                  <img
                  class="h-[auto] w-full object-cover object-center rounded-t-[20px] p-1"
                  src="/resource/images/slides/coffe.jpg"
                  alt="Product Image"
                  />
                  <div class="h-[100px]  flex flex-col justify-center text-center ">
                    <p class="text-2xl">Американо</p>
                    <p class="text-lg">200₽</p>
                  </div>
                </div>
                <div class="product-content mx-auto">
                  <div class="flex items-center justify-center h-full flex-col">
                    <div class="mt-[100px]">
                      <button class="product-button text-white">В корзину</button>
                    </div>
                    
                    <div class=" mt-5">
                      <button class="product-button">
                        <p class="product-button-ml">200мл</p>
                        <p class="product-button-rub">150₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">300мл</p>
                        <p class="product-button-rub">200₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">400мл</p>
                        <p class="product-button-rub">250₽</p>
                      </button>
                    </div>
                    <div class=" mt-5">
                      <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Шоколад"><label for="checkboxOne">Шоколад<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Фисташка"><label for="checkboxTwo">Фисташка<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxFree" value="Карамель"><label for="checkboxFree">Карамель<p>50₽</label></li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div id="coffee" class=" mx-4 h-[auto] product my-2" > 
                <div
                class="mx-auto w-80  product-border">
                  <img
                  class="h-[auto] w-full object-cover object-center rounded-t-[20px] p-1"
                  src="/resource/images/slides/coffe.jpg"
                  alt="Product Image"
                  />
                  <div class="h-[100px]  flex flex-col justify-center text-center ">
                    <p class="text-2xl">Американо</p>
                    <p class="text-lg">200₽</p>
                  </div>
                </div>
                <div class="product-content mx-auto">
                  <div class="flex items-center justify-center h-full flex-col">
                    <div class="mt-[100px]">
                      <button class="product-button text-white">В корзину</button>
                    </div>
                    
                    <div class=" mt-5">
                      <button class="product-button">
                        <p class="product-button-ml">200мл</p>
                        <p class="product-button-rub">150₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">300мл</p>
                        <p class="product-button-rub">200₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">400мл</p>
                        <p class="product-button-rub">250₽</p>
                      </button>
                    </div>
                    <div class=" mt-5">
                      <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Шоколад"><label for="checkboxOne">Шоколад<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Фисташка"><label for="checkboxTwo">Фисташка<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxFree" value="Карамель"><label for="checkboxFree">Карамель<p>50₽</label></li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div id="coffee" class=" mx-4 h-[auto] product my-2" > 
                <div
                class="mx-auto w-80  product-border">
                  <img
                  class="h-[auto] w-full object-cover object-center rounded-t-[20px] p-1"
                  src="/resource/images/slides/coffe.jpg"
                  alt="Product Image"
                  />
                  <div class="h-[100px]  flex flex-col justify-center text-center ">
                    <p class="text-2xl">Американо</p>
                    <p class="text-lg">200₽</p>
                  </div>
                </div>
                <div class="product-content mx-auto">
                  <div class="flex items-center justify-center h-full flex-col">
                    <div class="mt-[100px]">
                      <button class="product-button text-white">В корзину</button>
                    </div>
                    
                    <div class=" mt-5">
                      <button class="product-button">
                        <p class="product-button-ml">200мл</p>
                        <p class="product-button-rub">150₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">300мл</p>
                        <p class="product-button-rub">200₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">400мл</p>
                        <p class="product-button-rub">250₽</p>
                      </button>
                    </div>
                    <div class=" mt-5">
                      <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Шоколад"><label for="checkboxOne">Шоколад<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Фисташка"><label for="checkboxTwo">Фисташка<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxFree" value="Карамель"><label for="checkboxFree">Карамель<p>50₽</label></li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div id="coffee" class=" mx-4 h-[auto] product my-2" > 
                <div
                class="mx-auto w-80  product-border">
                  <img
                  class="h-[auto] w-full object-cover object-center rounded-t-[20px] p-1"
                  src="/resource/images/slides/coffe.jpg"
                  alt="Product Image"
                  />
                  <div class="h-[100px]  flex flex-col justify-center text-center ">
                    <p class="text-2xl">Американо</p>
                    <p class="text-lg">200₽</p>
                  </div>
                </div>
                <div class="product-content mx-auto">
                  <div class="flex items-center justify-center h-full flex-col">
                    <div class="mt-[100px]">
                      <button class="product-button text-white">В корзину</button>
                    </div>
                    
                    <div class=" mt-5">
                      <button class="product-button">
                        <p class="product-button-ml">200мл</p>
                        <p class="product-button-rub">150₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">300мл</p>
                        <p class="product-button-rub">200₽</p>
                      </button>
                      <button class="product-button">
                        <p class="product-button-ml">400мл</p>
                        <p class="product-button-rub">250₽</p>
                      </button>
                    </div>
                    <div class=" mt-5">
                      <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Шоколад"><label for="checkboxOne">Шоколад<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Фисташка"><label for="checkboxTwo">Фисташка<p>50₽</label></li>
                        <li><input type="checkbox" id="checkboxFree" value="Карамель"><label for="checkboxFree">Карамель<p>50₽</label></li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="h-screen"></div>

      <!-- <div
        class="mx-auto mt-11 w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg"
      >
        <img
          class="h-48 w-full object-cover object-center"
          src="https://images.unsplash.com/photo-1674296115670-8f0e92b1fddb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt="Product Image"
        />
        <div class="p-4">
          <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">
            Product Name
          </h2>
          <p class="mb-2 text-base dark:text-gray-300 text-gray-700">
            Product description goes here.
          </p>
          <div class="flex items-center">
            <p class="mr-2 text-lg font-semibold text-gray-900 dark:text-white">
              $20.00
            </p>
            <p
              class="text-base font-medium text-gray-500 line-through dark:text-gray-300"
            >
              $25.00
            </p>
            <p class="ml-auto text-base font-medium text-green-500">20% off</p>
          </div>
        </div>
      </div> -->
      <!-- <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img
                  class="img"
                  src="http://code.slicecrowd.com/labs/4/images/t-shirt.png"
                  alt=""
                />
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">I feel like Pablo</span>
                    <span class="p-company">Yeezy</span>
                  </div>
                  <div class="a-size">
                    Available sizes : <span class="size">S , M , L , XL</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">$120</span>
                  <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </body>
</html>
